@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-Neutral-900 : hsl(227, 75%, 14%);
  --color-Neutral-800 : hsl(226, 25%, 17%);
  --color-Neutral-700 : hsl(225, 23%, 24%);
  --color-Neutral-600 : hsl(226, 11%, 37%);
  --color-Neutral-300 : hsl(0, 0%, 78%);
  --color-Neutral-100 : hsl(0, 0%, 93%);
  --color-Neutral-0 : hsl(200, 60%, 99%);
  --color-Red-400: hsl(3, 86%, 64%);
  --color-Red-500: hsl(3, 71%, 56%);
  --color-Red-700: hsl(3, 77%, 44%);
  --color-light-blue: hsl(216, 68%, 95%);
  --color-light-cyan: hsl(180, 41%, 95%);
  --color-dark-blue: hsl(225,71.4%,5.5%);
  --color-deep-blue: hsl(226.9,75.3%,14.3%)
}